@model Coursework.Models.AlbumArtist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumArtist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Albums.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artists.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artists.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
