@model IEnumerable<Coursework.Models.MemberCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinePerExtraDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinePerExtraDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberCategoryId })
        </td>
    </tr>
}

</table>
