@model IEnumerable<Coursework.Models.Producer>
@{
    ViewBag.Title = "ProducerAlbum";
}

<h2>ProducerAlbum</h2>

<h2>ArtistAlbum</h2>
<div class="jumbotron">
    <div class="row">
        @foreach (var item in Model)
        {
            <div>
                <div class="col-md-4">

                    <h3>Producer: @Html.DisplayFor(modelItem => item.ProducerName) </h3>
                    <ul style="list-style:none">
                        <li>@Html.DisplayNameFor(model => model.ProducerAddress): @Html.DisplayFor(modelItem => item.ProducerAddress)</li>
                        <li>@Html.DisplayNameFor(model => model.ProducerPhone): @Html.DisplayFor(modelItem => item.ProducerPhone)</li>

                    </ul>
                    <p>
                        @Html.ActionLink("Back to Album", "../officeUser/album", null, new { @class = "btn btn-default" })
                    </p>
                </div>
            </div>

        }

    </div>
</div>

