@model IEnumerable<Coursework.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<h2>Artists</h2>
@if (Session["memb"] == null)
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
    @using (Html.BeginForm())
    {
        <p>
            Find by Last name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <div class="jumbotron">
        <div class="row">
            @foreach (var item in Model)
            {
                <div>
                    <div class="col-md-4">

                        <h2>Artist: @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h2>
                        <ul style="list-style:none">
                            <li>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(modelItem => item.Gender)</li>
                            <li>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)</li>
                            <li>@Html.DisplayNameFor(model => model.ContactNumber): @Html.DisplayFor(modelItem => item.ContactNumber)</li>
                            <li>@Html.DisplayNameFor(model => model.BirthDate): @Html.DisplayFor(modelItem => item.BirthDate)</li>
                        </ul>
                        <p>
                            @Html.ActionLink("Details", "details", new { id = item.ArtistId }, new { @class = "btn btn-default" })
                            @if (Session["memb"] == null)
                            {
                                @Html.ActionLink("Edit", "edit", new { id = item.ArtistId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "delete", new { id = item.ArtistId }, new { @class = "btn btn-danger" })
                            }
                        </p>
                        <p>
                            @if (Session["memb"] == null)
                            {
                                @Html.ActionLink("Add Album for artist", "../AlbumArtists/create", null, new { @class = "btn btn-success" })
                            }
                        </p>

                    </div>
                </div>

            }

        </div>
    </div>
